<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= render 'layouts/messages' %>
    <%= yield %>
    <img src="http://graph.facebook.com/v3.0/2557799351158793/picture">
                <%= image_tag(current_user.image) %>
  </div>

  </body>
</html>
